DATABASE_URL="mongodb://root:password@host.docker.internal:27017,host.docker.internal:27018,host.docker.internal:27019/chat_system?replicaSet=rs0&authSource=admin"
NEXTAUTH_SECRET="123456" # !WARNING: secret for JWT, change it in production
NEXTAUTH_URL="http://localhost:3000"
