  .friendList-wrapper {
    height: 100%;
    width: 100%;
  }

  .friendList-wrapper .friendList-content {
    height: 100%;
    width: 80%;
    background: linear-gradient(to bottom right, #dbe6fb, #f3f4f8);
  }
