.side-toolbar{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}
.userModal-content{
  .ant-modal-content{
    height: 480px;

  }
  .ant-list{
    height: 300px;
    overflow-y: auto;
  }
}
