@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100vw;
  height: 100vh;
}

.layout-container {
  height: 100%;
  background: linear-gradient(to bottom right, #dbe6fb, #f3f4f8);
}

.slider-search{
  background-color: #f7f7f7;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #e0e0e0;
  color: black;
  font-size: 16px;
}

.content-container {
  padding: 16px;
  /* background-color: #f5f5f5; */
  background: linear-gradient(to bottom right, #dbe6fb, #f3f4f8);
  text-align: center;
}
.slider-content{
  height: 100%;
}
